*,
*::after,
*::before{
    box-sizing: border-box;
}
$black:#333333;
ul,
li{
    text-decoration: none;
    font-family: 'Manrope', sans-serif;
}
a{
  text-decoration: none;
  border: none;
}
body{
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    font-family: 'Manrope', sans-serif;
}
.container{
    max-width: 1210px;
    padding: 0px 10px;
    margin: 0 auto;
}
.btn__style{
 background: linear-gradient(115.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
 color: #fff;
 border-radius: 250px;
}
.title {
  font-weight: bold;
  font-size: 38px;
  line-height: 48px;
  text-transform: uppercase;
}
.header {
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background-color: #fff;
  }
  &__burger{
    display: none;
  }
  &__logo {
    max-width: 325px;
    height: 70px;
  }
  &__list {
    display: flex;
    justify-content: space-between;
  }
  &__item {

  }
  &__item + &__item {
    margin-left: 15px;
  }
  &__link {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  }
  &__btn-box {}
  &__btn {
    padding: 14px 38px 14px 42px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
  }
  &__menu{
    width: 750px;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    max-width: 325px;
    height: 70px;
  }
}
.content {
   background-color:  #F7F6FF;
   padding: 68px 0;
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
  }
  &__text {
    max-width: 560px;
    padding-right: 10px;
  }
  &__title {
  font-weight: normal;
  font-size: 55px;
  line-height: 60px;
  text-transform: uppercase;
  margin-bottom: 20px;
  span{
    font-weight: 800;
    text-transform: lowercase;
    font-size: 50px;
  }
  }
  &__subtitle {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 28px;
  }
  &__buttons-inner{
    max-width: inherit;
    display: flex;
    justify-content: space-between;
  }
  &__compleks-btn {
    padding: 14px 30px;
  }
  &__cmm-btn {
    padding: 14px 38px;
  }
  &__design-btn {
    padding: 14px 41px;
  }
  &__img {
    max-width: 411px;
    height: 357px;
  }
  &__bottom {
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
    padding: 40px 55px;
  }
  &__title-mod{
    margin-bottom: 33px;
  }
  &__info{
    display: flex;
    justify-content: space-between;
  }
  &__box + &__box{
    border-left: 1px solid #C7C7C7;
    padding-left: 60px;
  }
  &__box{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;   
    span{
      color: #FFBC2A;
      font-weight: 800;
      font-size: 50px;
      line-height: 48px;
      margin-bottom: 3px;
      display: block;
    }
  }
}
.services {
   background-color:  #F7F6FF;
   padding: 68px 0;
  &__title {
    margin-bottom: 42px;
  }
  &__inner {
    display: flex;
    justify-content: space-between;
  }
  &__item {
  }
  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 410px;
    width: 220px;
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 15px;  
    margin-bottom: 35px;  
  }
  &__top {
    text-align: center;
    padding: 11px 20px 11px 19px;
    background-color: #77B2D3;
    border-radius: 15px 15px 0px 0px;
    color: #fff;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
  }
  &__mid {
   background-color: #fff;
   padding: 18px 10px 20px 16px;
  }
  &__list {
    list-style: none;
  }
  &__items {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 11px;
    padding-left: 23px;
    position: relative;
  }
    &__items::after{
      content: '';
      position: absolute;
      width: 17px;
      height: 17px;
      background-image: url(../images/arrow__services.svg);
      left: 0;
      top: 3px;
    }
  &__price {
    margin-top: auto;
    padding: 11px 16px 15px 16px;
    background: #fff;
    height: 50px;
    border-radius: 0px 0px 30px 30px;
    border-top: 1px solid #E2E2E2;
    }
  &__price span {
    font-weight: 800;
    font-size: 30px;
    line-height: 24px;
    color: #9021AC;
  }
  &__btn {
    display: block;
    text-align: center;
  }
  &__link {
    color: #fff;
    background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
    border-radius: 9px;
    padding: 14px 53px;
  }
}
.contacts {
  background-color:  #F7F6FF;
   padding: 68px 0;
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__form-inner {
    max-width: 570px;
    margin-right: 10px;
  }
  &__title {
    padding-right: 40px;
    margin-bottom: 22px;
  }
  &__descr {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 22px;
  }
  &__form {
    width: 100%;
  }
  &__input__style{
    padding: 16px 19px 17px 19px;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border: none;
    border-radius: 7px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
   &__form__inner{
    display: flex;
    justify-content: space-between;
  }
  &__name {
   width: 270px;
   margin-right: 5px;
  }
  &__input {}
  &__tel {
   width: 270px;
  }
  &__area {
    margin-top: 20px;
    resize: none;
    width: 100%;
    height: 141px;
    margin-bottom: 20px;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
  &__check-text {
    margin-bottom: 23px;
  }
  &__check {
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
  }
  &__btn {
    padding: 14px 55px;
    background: linear-gradient(115.11deg, #9021AC 16.38%, #C8459F 84.56%);
    border-radius: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    border: none;
  }
  &__img {
    max-width: 570px;
  }
}
.works {
  background-color: #F7F6FF;
  padding: 68px 0;
  &__title {
    margin-bottom: 41px;
  }
  &__top{
    margin-bottom: auto;
  }
  &__slider {}
  &__item {}
  &__box {
    background-color: #fff;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 15px;
    max-width: 570px;
    padding-top: 9px;
    padding-bottom: 25px;
    min-height: 518px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin: 0 auto;
  }
  &__img {
    padding-left: 28px;
  }
  &__descr {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 24px;
    padding-left: 28px;
  }
  &__result {
    background-color: #F3F1FE;
    padding-left: 28px;
  }
  &__result-name {
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
    padding-top: 21px;
    margin-bottom: 10px;
  }
  &__result-inner {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
  }
  &__result-item {
    span{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
    display: block;
       }

  }
  &__system {
    padding-left: 28px;
    margin-top: auto;
  }
  &__system-name{
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #333333;
    padding-top: 21px;
    margin-bottom: 10px;
  }
  &__list {
    display: flex;
    list-style: none;
  }
  &__system-item + &__system-item{
    margin-left: 16px;
  }
  &__system-item {
  }
  &__system-img {}
  .slider__prev,
  .slider__next{
   background-color: transparent;
   border: none;
   cursor: pointer;
   position: absolute;
   top: 50%;
   z-index: 10;

  }
  .slider__next{
    right: -50px;
  }
  .slider__prev{
    left: -50px;
  }
}
.footer {
    padding-top: 68px;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 63px;
  }
  &__contacts {
    max-width: 325px;
  }
  &__logo {
    margin-bottom: 5px;
  }
  &__img {

  }
  &__politic {
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #333333;
    width: 167px;
    margin-bottom: 36px;
  }
  &__messege {
    display: inline-block;
    padding: 14px 38px 14px 42px;
    background: linear-gradient(115.11deg, #FFBC2A 16.38%, #FF4F39 95.45%);
    border-radius: 250px;
    width: 205px;
    color: #fff;
  }
  &__info {

  }
  &__name {
    margin-bottom: 13px;
  }
  &__info-list {
    list-style: none;
  }
  &__info-item {

  }
  &__info-link {
    font-size: 16px;
    line-height: 36px;
    color: #333333;
  }
  &__services {}
  &__services-list {
    list-style: none;
  }
  &__services-item {}
  &__services-link {
    font-size: 16px;
    line-height: 36px;
    color: #333333;
  }
  &__rights {
    text-align: center;
    background-color: #2D2D2D;
    color: #fff;
    padding: 4px 0;
  }
}

